doctype html
html
  head
    title ASHUTOSH MUDULI
    block scripts
    block style      
  body
    nav#navbar 
      ul 
        div.logo 
          img(src="/static/img/download.jpg ", alt="")
          p ASHU
        li #[a(href="/") home]  
        li #[a(href="/") about]  
        li #[a(href="/") service] 
        li #[a(href="/contact") contact]
    block content
    footer 
     p our footer here  
